[editor]
Store = ctrl-insert; ctrl-c
Paste = shift-insert; ctrl-v
Cut = shift-delete
WordLeft = ctrl-left; ctrl-z
WordRight = ctrl-right; ctrl-x
ParagraphUp = alt-comma
ParagraphDown = alt-dot
MarkLine =
MarkWord =
MarkAll = ctrl-a
Unmark =
Search = f7
SearchContinue = f17
BlockShiftLeft =
BlockShiftRight =
MarkPageUp = shift-pgup
MarkPageDown = shift-pgdn
MarkLeft = shift-left
MarkRight = shift-right
MarkToWordBegin = ctrl-shift-left
MarkToWordEnd = ctrl-shift-right
MarkUp = shift-up
MarkDown = shift-down
MarkToHome = shift-home
MarkToEnd = shift-end
MarkToFileBegin = ctrl-shift-home
MarkToFileEnd = ctrl-shift-end
Replace = f4
ReplaceContinue = f14
Date =
Refresh = ctrl-l
Goto = alt-l
Sort = alt-t
Mail = alt-m
ParagraphFormat = alt-p
MatchBracket = alt-b
ExternalCommand = alt-u
UserMenu = f11
Bookmark = alt-k
BookmarkFlush = alt-o
BookmarkNext = alt-j
BookmarkPrev = alt-i
History = alt-h
InsertLiteral = ctrl-q
MacroStartRecord =
MacroStopRecord =
MacroStartStopRecord = ctrl-r
MacroDelete =
ShowNumbers = alt-n
ShowTabTws = alt-underline
SyntaxOnOff = ctrl-s
SyntaxChoose =
ShowMargin =
Find = alt-enter
FilePrev = alt-minus
FileNext = alt-plus
RepeatStartStopRecord =
SelectCodepage = alt-e
Options =
OptionsSaveMode =
SpellCheck =
SpellCheckCurrentWord = ctrl-p
SpellCheckSelectLang =
LearnKeys =
WindowMove =
WindowResize =
WindowFullscreen =
WindowList =
WindowNext =
WindowPrev =
ExtendedKeyMap =
